@font-face {
    font-family: RD;
    src: url('../assets/fonts/main.ttf');
}
body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/images/screenshot.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-family: RD;
    text-align:center;
    padding: 0vh;
    margin: 0
}

.yellow {
    color: #ffff00;
}

.logo:hover {
    transform: scale(1.025);
    transition: 0.2s;
}

.logo {
    transition: 0.2s;
}

img {
    image-rendering: pixelated;
}

a {
    color: aqua;
    text-decoration: none;
    border-bottom: solid 2px aqua;
}
a:hover {
    color: rgb(2, 209, 209);
    border-bottom: solid 2px rgb(2, 209, 209);
}

hr {
    width: 50%;
    border: solid 1px #d75f0a;
}

i {
    color: gray
}

button {
    border: none;
    background: none;
    color: white;
    font-family: RD;
    font-size: 14pt;
    cursor: pointer;
}

button:active span {
    color: #21b24b
}

button:hover:before {
    color: #21b24b;
    content: '> '
}
button:hover:after {
    color: #21b24b;
    content: ' <'
}