@font-face {
    font-family: RD;
    src: url('../assets/fonts/main.ttf');
}
body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/images/screenshot.png');
    color: white;
    font-family: RD;
    text-align:center;
    padding: 0vh;
    margin: 0
}

.yellow {
    color: #ffff00;
}

img {
    image-rendering: pixelated;
}

a {
    color: aqua;
    text-decoration: none;
    border-bottom: solid 2px aqua;
}

hr {
    width: 50%;
    border: solid 1px #d75f0a;
}

i {
    color: gray
}