@font-face {
    font-family: RD;
    src: url('../assets/fonts/main.ttf');
    font-weight: 1000;
}

:root {
    --wardcolour: #8294e5;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--wardcolour) var(--wardcolour);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #00000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--wardcolour);
    border-radius: 0px;
  }

html {
    height: 100%;
}

body {
    height: 100%;
    font-weight: 1000;
    zoom: 150%;
    font-family: RD;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow:hidden;

    image-rendering: pixelated;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('../assets/bgs/betaward.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    text-shadow:
    -2px -2px 0 #202020,
     0   -2px 0 #202020,
     2px -2px 0 #202020,
     2px  0   0 #202020,
     2px  2px 0 #202020,
     0    2px 0 #202020,
    -2px  2px 0 #202020,
    -2px  0   0 #202020;

    color: white;
}

.levels {
    display: flex;
    width: 100%;
    height: 30vh;
    margin: 0px;
    
/*    overflow-y: hidden;*/
    overflow-x: auto;
}

.level {
    height: 100%;
/*    width: 15vw;*/
    margin: 0px 5px;
    min-width: 16vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 12pt;
}

.exitlevel {
/*    line-height: 800%; */
    vertical-align: middle;
    text-align: center;
/*    width: 15vw;*/
    transition: 0.1s;
    white-space:nowrap;
}

button {
    border: none;
    background: none;
    color: white;
    font-family: RD;
    font-size: 1em;
    cursor: pointer;
    white-space: nowrap;

    text-shadow:
    -2px -2px 0 #202020,
     0   -2px 0 #202020,
     2px -2px 0 #202020,
     2px  0   0 #202020,
     2px  2px 0 #202020,
     0    2px 0 #202020,
    -2px  2px 0 #202020,
    -2px  0   0 #202020;

    /* Just to give enough space for the > < icons that appear.*/
    min-width: 14vw;
}

.exitlevel button {
    flex: 1;
}

@media (min-width: 1000px) {
    .level {
        /* Now that we have enough space, use flexbox to grow widths. */
        min-width: 0px;
        flex: 1 1 15vw;
        margin: 0;
    }

    button {
        /* No longer need minimum width to accomodate > < icons. */
        font-size: 14pt;
        min-width: 0px;
    }
}

button:active {
    color: #21b24b;
    content: 'Copied!'
}

button:hover:before {
    color: #21b24b;
    content: '> '
}
button:hover:after {
    color: #21b24b;
    content: ' <'
}

.nickname {
    color: #cbff17;
/*    white-space: nowrap;*/
}

.levelname {
    color: #6af3f4;
/*    white-space: nowrap;*/
}

.quote {
    visibility: hidden;
    min-height: 50px;
}

.character {
    image-rendering: pixelated;
/*    height: 6vw;*/
    width: 70%;
    max-width: 110px;
    align-self:center;
    position: relative;
    margin-top: -10px;
}

.master {
    display: flex;
    height: 98%;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.locked {
    filter: 
        drop-shadow(-1px -1px 0 #ffffff)
        drop-shadow(1px 1px 0 #ffffff)
        drop-shadow(-1px 1px 0 #ffffff)
        drop-shadow(1px -1px 0 #ffffff);
    filter: brightness(0);
}