@font-face {
    font-family: RD;
    src: url('../assets/fonts/main.ttf');
}

body {
    zoom: 150%;
    font-family: RD;
    text-align: center;
    overflow:hidden;

    image-rendering: pixelated;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('../assets/images/betaward.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    text-shadow:
    -2px -2px 0 #202020,
     0   -2px 0 #202020,
     2px -2px 0 #202020,
     2px  0   0 #202020,
     2px  2px 0 #202020,
     0    2px 0 #202020,
    -2px  2px 0 #202020,
    -2px  0   0 #202020;

    color: white;
}

.levels {
    display: flex;
    width: 99.4%;
    height: 30vh;
}

.level {
    height: 100%;
    margin: 5px;
    max-width: 205px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.exitlevel {
    line-height: 1000%; 
    vertical-align: middle;
    text-align: center;
    transition: 0.1s;
}

button {
    border: none;
    background: none;
    color: white;
    font-family: RD;
    font-size: 14pt;
    cursor: pointer;

    text-shadow:
    -2px -2px 0 #202020,
     0   -2px 0 #202020,
     2px -2px 0 #202020,
     2px  0   0 #202020,
     2px  2px 0 #202020,
     0    2px 0 #202020,
    -2px  2px 0 #202020,
    -2px  0   0 #202020;
}

button:active {
    color: #21b24b;
    content: 'Copied!'
}

button:hover:before {
    color: #21b24b;
    content: '> '
}
button:hover:after {
    color: #21b24b;
    content: ' <'
}

.nickname {
    color: #cbff17;
}

.levelname {
    color: #6af3f4
}

.character {
    image-rendering: pixelated;
    height: 40%;
    align-self:center;
    margin-top: 10%;
}

.master {
    display: flex;
    height: 98%;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.locked {
    filter: 
        drop-shadow(-1px -1px 0 #ffffff)
        drop-shadow(1px 1px 0 #ffffff)
        drop-shadow(-1px 1px 0 #ffffff)
        drop-shadow(1px -1px 0 #ffffff);
    filter: brightness(0);
}